@model ExchangeBroker.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaleAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaleAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaleCurrency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaleCurrency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayToSaleRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayToSaleRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GraftToSaleRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GraftToSaleRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayCurrency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayCurrency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceProviderFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceProviderFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExchangeBrokerFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExchangeBrokerFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerchantAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchantAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayWalletAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayWalletAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayAddressIndex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PayAddressIndex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivedConfirmations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivedConfirmations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReceivedAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReceivedAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceProviderWallet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceProviderWallet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerchantWallet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchantWallet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MerchantTransactionStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MerchantTransactionStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProviderTransactionStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProviderTransactionStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
