@model ReflectionIT.Mvc.Paging.PagingList<ExchangeBroker.Models.PaymentViewModels.PaymentViewModel>
@using ReflectionIT.Mvc.Paging
@using Graft.Infrastructure
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Payments";
}

<h2>Payments</h2>

<form method="get" class="form-inline">
    <input type="hidden" name="sortExpression" value="@Model.SortExpression" />
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Status</label>
            <br />
            <select name="status" asp-for="@Model.RouteValue["Status"]" class="form-control" asp-items="Html.GetEnumSelectList<PaymentStatus>()">
                <option selected="selected">---</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label class="control-label">Merchant Transaction Status</label>
            <br />
            <select name="merchantTranStatus" asp-for="@Model.RouteValue["merchantTranStatus"]" class="form-control" asp-items="Html.GetEnumSelectList<GraftTransactionStatus>()">
                <option selected="selected">---</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Provider Transaction Status</label>
            <br />
            <select name="providerTranStatus" asp-for="@Model.RouteValue["providerTranStatus"]" class="form-control" asp-items="Html.GetEnumSelectList<GraftTransactionStatus>()">
                <option selected="selected">---</option>
            </select>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">From Date</label>
            <br />
            @Html.TextBox("fromDate", String.Format("{0:d}", DateTime.UtcNow.ToShortDateString()), new { @class = "form-control", type = "date" })
        </div>
        <br />
        <div class="form-group">
            <label class="control-label">To Date</label>
            <br />
            @Html.TextBox("toDate", String.Format("{0:d}", DateTime.UtcNow.ToShortDateString()), new { @class = "form-control", type = "date" })
        </div>
    </div>

    <div class="col-md-4">
        <label class="control-label">Wallet</label>
        <br />
        <input name="filter" class="form-control" placeholder="filter" value="@Model.RouteValue["Filter"]" />
        <br />
        <label class="control-label"> </label>
        <br />
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
        </button>
    </div>
</form>

<nav aria-label="Payments">
    <vc:pager paging-list="@Model" />
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Status)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.SaleAmount)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.SaleCurrency)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.PayToSaleRate)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.GraftToSaleRate)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.PayCurrency)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.PayAmount)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.ServiceProviderFee)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.ExchangeBrokerFee)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.MerchantAmount)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.PayWalletAddress)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.PayAddressIndex)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.ReceivedConfirmations)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.ReceivedAmount)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.ServiceProviderWallet)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.MerchantWallet)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.MerchantTransactionStatus)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.ProviderTransactionStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleCurrency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayToSaleRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GraftToSaleRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayCurrency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceProviderFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExchangeBrokerFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MerchantAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayWalletAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayAddressIndex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedConfirmations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceProviderWallet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MerchantWallet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MerchantTransactionStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderTransactionStatus)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PaymentId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Payments">
    <vc:pager paging-list="@Model" />
</nav>

Total Record Count: @Model.TotalRecordCount